.fluent__row {
  display: flex;
  margin-bottom: 4px;
}

.fluent__cell {
  margin-left: 4px;
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    background-color: #333;
  }

  &.-selected {
    outline: 4px solid mix($white, $primary-color, 40%);
    outline-offset: -1px;
    filter: brightness(110%) saturate(110%);
  }

  ._detail {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: baseline;
    right: 0px;
    bottom: 4px;
    padding-top: 4px;
    padding-right: 8px;
    color: $white;
    text-shadow: $text-shadow;
    font-weight: 700;

    .fas{
      color: $white;
    }
  }
}
