.fluent__row {
  display: flex;
  margin-bottom: 8px;
}

.fluent__cell {
  margin-left: 8px;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow-soft;

  img {
    object-fit: cover;
    background-color: #333;
  }

  &.-selected {
    outline: 4px solid mix($white, $primary-color, 40%);
    outline-offset: -1px;
    filter: brightness(110%) saturate(110%);
  }

  ._detail {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: baseline;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
    padding-top: 4px;
    padding-right: 8px;
    color: $text-low-color;
    font-weight: 700;
    background: rgb(255, 255, 255);
    background: linear-gradient(200deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.30155812324929976) 50%, rgba(255, 255, 255, 0) 100%);
  }
}
