@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;400;500;900&display=swap');

html{
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 14px;
}

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5{
    font-family: 'Poppins' !important;
}

.text-h1{
    font-size: 36px !important
}

.text-h2{
    font-size: 32px !important
}

.text-h3{
    font-size: 28px !important
}

.text-h4{
    font-size: 24px !important
}

.text-h5{
    font-size: 20px !important
}