/*
Generic

Styleguide 1
*/
$black: #000;
$white: #fff;

$background-color: $white;
$background-color-01dp: mix($white, $background-color, 5%);
$background-color-02dp: mix($white, $background-color, 7%);
$background-color-03dp: mix($white, $background-color, 8%);
$background-color-04dp: mix($white, $background-color, 9%);
$background-color-06dp: mix($white, $background-color, 11%);
$background-color-08dp: mix($white, $background-color, 12%);
$background-color-12dp: mix($white, $background-color, 14%);
$background-color-16dp: mix($white, $background-color, 15%);
$background-color-24dp: mix($white, $background-color, 16%);

$font-size: 12px;
$text-high-color: $color-grey-900;
$text-color: $color-grey-800;
$text-low-color: $color-grey-700;

$hover-amount: 8%;
$focus-amount: 12%;

$unit: 8px;
$border-radius: 4px;

$box-shadow: 0px 0px 4px $color-grey-700;
$box-shadow-soft: 0px 0px 3px $color-grey-400;

$text-shadow: 0px 0px 1px $color-grey-700;

$primary-color: rgb(101, 248, 180);

$sm-screen-width-max: 920px;
$md-screen-width-min: $sm-screen-width-max + 1px;
